<div class="panel panel-info">
    <div class="panel-heading">Returned: {{items.length}} lines. Total lines: {{allNB}}</div>
    <div class="panel-body">
        <div class="form-group">

            <div><label for="column">Column</label></div>

            <ui-select ng-model="selected.value" title="Choose an column" style="width: 300px;" id="column" on-select="getValues()">
                <ui-select-match>
                    <span ng-bind="$select.selected"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (columns | filter: $select.search) track by item" position='down'>
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>

        </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered" ng-if="items&&items.length>0">
        <tr>
            <th>#</th>
            <th>Value</th>
            <th>Count</th>
            <th>Average Age</th>
        </tr>
        <tr ng-repeat="item in items track by item.col">
            <td>{{$index+1}}</td>
            <td>{{item.col}}</td>
            <td>{{item.nb}}</td>
            <td>{{item.value}}</td>
        </tr>
    </table>

    <div ng-if="isLoading">
        <div class="text-center">
            <h5> Loading Data...</h5>
        </div>
    </div>

    <div class="panel-footer"></div>
</div>